@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"); /*resto*/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"); /*fonte para h1,h2*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header,
.hero,
.sobre,
.projetos,
.orcamento {
  display: flex;
}

.header {
  background-color: rgba(4, 7, 17, 1);
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 10px 3%;
}
nav {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 20px;
}

/* TIREI A DIV LINKS PQ ACHO Q AQ PODE ESTILIZAR O NAV DIRETO, PRECISA DE DIV. QUALQUER COISA VC MUDA DPS, MAS ACHO Q N PRECISA */

.logo {
  display: flex;
  margin: 12px;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero {
  align-items: center;
  justify-content: center;
  background-image: url(/imagens/backgraund.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
